body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}
h1 {
    text-align: center;
    color : #333;
}

table {
    width : 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
th, td{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}
tr:nth-child(even){
    background-color: #f9f9f9;
}
tr:hover{
    background-color: #f1f7ff;
}