<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Task Manager</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Completed</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.completed}"></td>

    </tr>
</table>
</body>
</html>